*{
    font-family: tahoma;
    box-sizing: border-box;
}

.header{
    display: flex;
    background-color: cornflowerblue;
    padding: 10px;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 5;
}

.header-title{
    color: cornsilk;
    font-size: 3em;
    font-weight: bold;
    text-decoration: none;
}

.header:hover{
    background-color: cadetblue;
}
.judul{
    position: sticky;
    top: 50px;
    display: flex;
    background-color: coral;
    padding: 5px;
    margin-top: 90px;
    justify-content: center;
    font-size: 15px;
    color: aliceblue;
}

/*konten*/

.header-konten{
    margin-top: 10px;
    background-color: burlywood;
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
    height: 100px;
    z-index: 2;
}

.header h1{
    margin-left: 50px;
}

/* container */

.container{
    z-index: 1;
    position: relative;
    max-width: 700px;
    margin: 0px auto 0px;
}

.container h2{
    font-size: 18px;
}

.kolom-konten{
    width: 500px;
    float: left;
}

.kolom-menu{
    float: left;
    background-color: aquamarine;
    width: 200px;
    padding: 10px;
}

.kolom-menu ul{
    padding-top: 10px;
    list-style-type: none;
}

/* kredit */
.credit{
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
}

.penulis{
    color: crimson;
}

.tanggal{
    color: olive;
}
