.header{
    display: flex;
    background-color: cornflowerblue;
    padding: 10px;
    justify-content: center;
}

.header-title{
    color: cornsilk;
    font-size: 3em;
    font-weight: bold;
    text-decoration: none;
}

.header:hover{
    background-color: cadetblue;
}
.judul{
    display: flex;
    background-color: coral;
    padding: 5px;
    margin-top: 10px;
    justify-content: center;
    font-size: 15px;
    color: aliceblue;
}

/*konten*/

h1{
    font-family: arial;
}

p{
    font-family: arial;
    text-align: justify;
}

blockquote{
    float: right;
    font-family: georgia;
    font-style: italic;
    border-top: 1px solid;
    border-bottom: 1px solid;
    width: 200px;
    padding: 10px;
    margin: 10px;
}


.posisi-absolute{
    position: absolute;
    top: 400px;
    left: 50px;
    background-color: coral;
}

/* kredit */
.credit{
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
}

.penulis{
    color: crimson;
}

.tanggal{
    color: olive;
}
